<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Dashboard</title>
</head>
<body>
    <main id="main-dashboard">
        <section id="dashboard">
            <article class="opciones">

                <div class="o-img">
                    <img src="../assets/img/logoforja.png" alt="Logo Forja">
                </div>

                <div class="o-opciones">
                    <button class="o-item"><a href="pacientes.html"><i class="fa-solid fa-users"></i>Pacientes</a></button>
                    <button class="o-item"><a href="vacunasRegistro.html"><i class="fa-solid fa-syringe"></i>Vacunación</a></button>
                    <button class="o-item"><a href="login.html"><i class="fa-solid fa-power-off"></i>Cerrar sesión</a></button>
                </div>
            </article>

            <article class="bienvenida">
                
                <div class="i-form"> 

                    <div class="w-user">
                        <i class="fa-solid fa-user"></i>
                        <p>Carolina Loaiza</p>
                    </div>

                    <div class="titulo">
                        <h1>Bienvenidos</h1>
                    </div>

                    <form action="dashboard2.html">
                        <div class="ingresar1">
                            <form action="" method="post">
                                <input type="number" name="document" id="document" placeholder="Digite el número de documento" required>
                                <div class="formulario-botones"> 
                                    <button class="buscar"><i class="fa-solid fa-magnifying-glass"></i></button>
                                    <button class="refresh"><a href="dashboard.html"><i class="fa-solid fa-rotate-right"></i></a></button>
                                </div>
                            </form>
                        </div>
                    </form>
                </div>

                <div class="b-fondo">
                    <img src="../assets/img/guerreros.png" alt="Imagen de fondo">
                </div>
                <div id="division">
                    <img src="../assets/img/franja.svg" alt="division">
                </div>
            </article>
        </section>

        <section class="registro1">
            <h3>La persona con el documento de identidad <span>52368795</span> registra la siguiente información:</h3>

            <table class="table-vaccine">
                <thead>
                    <tr>
                        <th>ítem</th>
                        <th>Fecha registro</th>
                        <th>Vacuna</th>
                        <th>Fecha próxima vacuna</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-titulo="Ítem">1</td>
                        <td data-titulo="Fecha registro">07/07/2021</td>
                        <td data-titulo="Vacuna">Moderna</td>
                        <td data-titulo="Fecha próxima vacuna">07/09/2021</td>
                    </tr>
                </tbody>
            </table>

            <p>Conforme lo anterior, le recomendamos pasar a su registro de vacunación en el siguiente enlace:</p>

            <div class="buttons-popup">
                <button class="close"><a href="dashboard.html">Cerrar</a></button>
                <button class="ingresoV"><a href="vacunasRegistro.html">Ir al formulario de ingreso<i class="fa-solid fa-arrow-right-long"></i></a></button>
            </div>
        </section>

        <section class="registro2">
            <h3>La persona con el documento de identidad <span>1001235478</span> registra la siguiente información:</h3>

            <table class="table-vaccine">
                <thead>
                    <tr>
                        <th>ítem</th>
                        <th>Fecha registro</th>
                        <th>Vacuna</th>
                        <th>Fecha próxima vacuna</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-titulo="Ítem">1</td>
                        <td data-titulo="Fecha registro">03/06/2021</td>
                        <td data-titulo="Vacuna">AstraZeneca</td>
                        <td data-titulo="Fecha próxima vacuna">03/08/2021</td>
                    </tr>
                    <tr>
                        <td data-titulo="Ítem">2</td>
                        <td data-titulo="Fecha registro">05/09/2021</td>
                        <td data-titulo="Vacuna">AstraZeneca</td>
                        <td data-titulo="Fecha próxima vacuna">05/11/2021</td>
                    </tr>
                </tbody>
            </table>

            <p>Conforme lo anterior le recomendamos pasar a su registro de vacunación en el siguiente enlace:</p>

            <div class="buttons-popup">
                <button class="close">Cerrar</i></button>
                <button class="ingresoV">Ir al formulario de ingreso<i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </section>

        <section class="registro3">
            <h3>La persona con el documento de identidad <span>25413574</span> registra la siguiente información:</h3>

            <table class="table-vaccine">
                <thead>
                    <tr>
                        <th>ítem</th>
                        <th>Fecha registro</th>
                        <th>Vacuna</th>
                        <th>Fecha próxima vacuna</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-titulo="Ítem">1</td>
                        <td data-titulo="Fecha registro">15/04/2021</td>
                        <td data-titulo="Vacuna">Sinovac</td>
                        <td data-titulo="Fecha próxima vacuna">15/06/2021</td>
                    </tr>
                    <tr>
                        <td data-titulo="Ítem">2</td>
                        <td data-titulo="Fecha registro">15/06/2021</td>
                        <td data-titulo="Vacuna">Sinovac</td>
                        <td data-titulo="Fecha próxima vacuna">15/08/2021</td>
                    </tr>

                    <tr>
                        <td data-titulo="Ítem">3</td>
                        <td data-titulo="Fecha registro">15/08/2021</td>
                        <td data-titulo="Vacuna">Pfizer</td>
                        <td data-titulo="Fecha próxima vacuna"></td>
                    </tr>
                </tbody>
            </table>

            <p>Conforme lo anterior le informamos que usted tiene las dosis dispuestas por el gobierno nacional al día.</p>
            <h3 class="felicidades">¡Felicidades!</h3>

            <div class="buttons-popup">
                <button class="close">Cerrar</i></button>
            </div>
        </section>

        <section class="registro4">
            <h3>La persona con el documento de identidad <span>1007203506</span> no registra historial de vacunación.</h3>

            <p>Conforme lo anterior le recomendamos pasar a su registro como usuario nuevo en el siguiente enlace:</p>

            <div class="buttons-popup">
                <button class="close">Cerrar</i></button>
                <button class="ingresoN">Ir al formulario <i class="fa-solid fa-arrow-right-long"></i></button>
            </div>
        </section>

    </main>
    <script src="../assets/js/dashboard.js"></script>
    <script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</body>
</html>