<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Registro</title>
</head>
<body>

    <header class="background-header">
        <div class="background-part">
            <img src="../assets/img/logoforja.png" alt="Logo Forja">
            <div class="background-buttons">
                <a href="../views/login.html"><button><i class="fa-solid fa-house-user"></i></button></a>
                <a href="dashboard.html"><button><i class="fa-solid fa-power-off"></i></button></a>
            </div>
        </div>
        
        <div class="background-division">
            <img src="../assets/img/franja.svg" alt="division">
        </div>

    </header>

    <main>
        <section>
            <div class="section-part">
                <h1 class="important-title">Formulario de ingreso de vacunación</h1>

                <div class="form-register vaccine">
                    <form action="post">
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="names" class="simpleLabel">Nombres</label>
                                <input type="text" name="names" id="names">
                            </div>
                            <div class="form-pairs">
                                <label for="lastNames" class="simpleLabel">Apellidos</label>
                                <input type="text" name="lastNames" id="lastNames">
                            </div>
                        </div>
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="tipeOfDocument" class="simpleLabel">Tipo de documento</label>
                                <select class="tipeOfDocument" id="tipeOfDocument">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Tarjeta de identidad</option>
                                    <option value="2">Cédula de ciudadanía</option>
                                    <option value="3">Pasaporte</option>
                                    <option value="4">Cédula de extranjería</option>
                                    <option value="5">Registro civil</option>
                                </select>
                            </div>
                            <div class="form-pairs">
                                <label for="numberDocument" class="simpleLabel">Número de documento</label>
                                <input type="number" name="numberDocument" id="numberDocument">
                            </div>
                        </div>
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="DateDocument" class="simpleLabel">Fecha expedición del documento</label>
                                <input type="date" name="DateDocument" id="DateDocument">
                            </div>
                            <div class="form-pairs">
                                <label for="birthday" class="simpleLabel">Fecha de nacimiento</label>
                                <input type="date" name="birthday" id="birthday">
                            </div>
                        </div>
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="address" class="simpleLabel">Dirección</label>
                                <input type="text" name="address" id="address">
                            </div>
                            <div class="form-pairs">
                                <label for="eps" class="simpleLabel">EPS</label>
                                <input type="text" name="eps" id="eps">
                            </div>
                        </div>
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="age" class="simpleLabel">Edad</label>
                                <input type="number" name="age" id="age">
                            </div>
                            <div class="form-pairs">
                                <label for="dateVaccine" class="simpleLabel">Fecha de vacunación</label>
                                <input type="date" name="birthday" id="birthday">
                            </div>
                        </div>
                        <div class="form-vaccine">
                            <div class="form-pairs">
                                <label for="tipeOfVaccine" class="simpleLabel">Tipo de biológico</label>
                                <select class="tipeOfVaccine" id="tipeOfVaccine">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Pfizer</option>
                                    <option value="2">AstraZeneca</option>
                                    <option value="3">Janssen</option>
                                    <option value="4">Moderna</option>
                                    <option value="5">Sinovac</option>
                                </select>
                            </div>
                            <div class="form-pairs">
                                <label for="tipeOfDose" class="simpleLabel">Tipo de dosis</label>
                                <select class="tipeOfDose" id="tipeOfDose">
                                    <option value="0">Seleccionar</option>
                                    <option value="1">Primera monodosis</option>
                                    <option value="2">Segunda monodosis</option>
                                    <option value="3">Dosis única</option>
                                </select>
                            </div>
                            <div class="form-pairs">
                                <label for="placeVaccine" class="simpleLabel">Lugar de vacunación</label>
                                <input type="text" name="placeVaccine" id="placeVaccine">
                            </div>
                        </div>
                    </form>
                </div>

                <div class="button-confirm">
                    <a href="pacientes.html"><button class="confirmar">Guardar</button></a>
                </div>

                <div class="dateNextVaccine">
                    <h3>La fecha de su siguiente dosis es:</h3>
                    <p>17/07/2022</p>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <p>&#9426 2021 Forja Empresas</p>
    </footer>
    <script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</body>
</html>