<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
    <title>Registro Vacunas</title>
</head>
<body>

    <header class="background-header">
        <div class="background-part">
            <img src="../assets/img/logoforja.png" alt="Logo Forja">
            <div class="background-buttons">
                <a href="dashboard.html"><button><i class="fa-solid fa-house-user"></i></button></a>
                <a href="login.html"><button><i class="fa-solid fa-power-off"></i></button></a>
            </div>
        </div>
        
        <div class="background-division">
            <img src="../assets/img/franja.svg" alt="division">
        </div>

    </header>

    <main>
        <div class="buttons-vaccine">
            <a href="pacientes.html" form="form" type="submit" class="btn-confirm-vaccine">Guardar cambios</a>
            <a href="dashboard.html" class="btn-back-vaccine">Cerrar</a>
        </div>
        
        <div class="vaccineTittles">
            <p>ESTADO: <span>Activo</span></p>
            <h4>INFORMACIÓN DEL PACIENTE</h4>
        </div>

        <section class="section-form-vaccine">
                    <form action="pacientes.html">
                        <div class="form-register vaccine">
                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <input type="date" name="simpleDate" id="simpleDate" required>
                                    <input type="number" name="registerNumber" id="registerNumber" placeholder="Número de registro">
                                </div>
                            </div>
                            <div class="second-title">
                                <i class="fa-solid fa-syringe"></i>
                                <h1 id="form-subtitle">Datos personales</h1>
                            </div>
                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <input type="text" name="names" id="names" pattern="[A-Za-z\s]{1,32}" title="El nombre solo contiene letras. e.g. John" placeholder="Nombres" required>
                                    <input type="text" name="lastNames" id="lastNames" pattern="[A-Za-z\s]{1,32}" title="El nombre solo contiene letras. e.g. John" placeholder="Apellidos" required>
                                </div>
                            </div>
                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <input type="number" name="numberDocument" id="numberDocument" placeholder="Número de identificación" required>
                                    <input type="date" name="DateDocument" id="DateDocument">
                                </div>
                            </div>

                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <input type="number" name="age" id="age" placeholder="Edad" required>
                                    <select class="EPS" id="EPS" required>
                                        <option value="0">EPS</option>
                                        <option value="1">Aliansalud</option>
                                        <option value="2">COMFENALCO Valle E.P.S.</option>
                                        <option value="3">Empresas Públicas de Medellín-Departamento Médico</option>
                                        <option value="4">EPS Programa COMFENALCO Antioquia</option>
                                        <option value="5">Suramericana</option>
                                        <option value="6">Cafe Salud</option>
                                        <option value="7">Colpatria</option>
                                        <option value="8">Compensar</option>
                                        <option value="9">Cruz Blanca</option>
                                        <option value="10">Salud Total</option>
                                        <option value="11">Sanitas</option>
                                        <option value="12">Coomeva</option>
                                        <option value="13">Fondo de Pasivo Social de los Ferrocarriles Nales</option>
                                        <option value="14">Nueva EPS</option>
                                        <option value="15">Salud Coop</option>
                                        <option value="16">Servicio Occidental de Salud S.A - EPS S.O.S S.A</option>
                                        <option value="17">Famisanar</option>
                                        <option value="18">Golden Group</option>
                                        <option value="19">Humana Vivir</option>
                                        <option value="20">Salud Vida</option>
                                        <option value="21">Sol Salud</option>
                                        <option value="22">Asociación Mutual Barrios Unidos de Quibdo E.S.S</option>
                                        <option value="23">Asociación Mutual Ser Empresa Solidaria de Salud ESS</option>
                                        <option value="24">Caja de Compensación Familiar de Cartagena "COMFAMILIAR"</option>
                                        <option value="25">Caja de Compensación Familiar CAJACOPI Atlántico</option>
                                        <option value="26">Pijao Salud</option>
                                        <option value="27">Selva Salud</option>
                                        <option value="28">ASMET Salud</option>
                                        <option value="29">Asociación Indígena del Cauca</option>
                                        <option value="30">Cafam</option>
                                        <option value="31">CAPRESOCA</option>
                                        <option value="32">Comparta</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-register vaccine">
                            <div class="second-title">
                                <i class="fa-solid fa-syringe"></i>
                                <h1 id="form-subtitle">Información de vacunación</h1>
                            </div>

                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <select class="Site" id="Site" required>
                                        <option value="0">Sede</option>
                                        <option value="1">Centro Comercial Titan Plaza</option>
                                        <option value="2">Centro Comercial Bulevar Niza</option>
                                        <option value="3">Centro Comercial Carrera</option>
                                    </select>
                                    <select class="nurse" id="nurse" required>
                                        <option value="0">María Fernandez</option>
                                        <option value="1">Ana García</option>
                                        <option value="2">Estella Lopéz</option>
                                        <option value="3">Lorena Hernández</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <input type="number" name="idNurse" id="idNurse" placeholder="Id profesional">
                                    <input type="text" name="tipeOfDose" id="tipeOfDose" placeholder="Dosis" required>
                                </div>
                            </div>

                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <select class="tipeOfVaccine" id="tipeOfVaccine" required>
                                        <option value="0">Biológico</option>
                                        <option value="1">Pfizer</option>
                                        <option value="2">AstraZeneca</option>
                                        <option value="3">Janssen</option>
                                        <option value="4">Moderna</option>
                                        <option value="5">Sinovac</option>
                                    </select>
                                    <input type="text" name="dateFirstDosis" id="dateFirstDosis" placeholder="Fecha 1ra dosis">
                                    <input type="text" name="dateSecondDosis" id="dateSecondDosis" placeholder="Fecha 2da dosis">
                                </div>
                            </div>

                            <div class="form-vaccine">
                                <div class="form-pairs">
                                    <textarea class="textarea-vaccine"name="aditionalNotes" id="aditionalNotes"placeholder="Observaciones adicionales"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="submit" class="btn-confirm-patient-form" value="Guardar">
                </form>
        </section>
    </main>

    <footer>
        <p>&#9426 2021 Forja Empresas</p>
    </footer>
    <script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</body>
</html>