/* Tipografía estipulada*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

/* Paleta de colores estipulada*/
:root{
    --red-color: rgb(164,1,1);
    --blue-color: rgb(44,163,171);
    --gray-color: rgb(196,196,196);
    --orange-color: rgb(243,97,14);
    --darkblue-color: rgb(29,27,69);
}

/* Propiedades generales*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: white;
}

/* Index.html*/
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem .5rem;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 30px 0 0;
    margin: 1rem .5rem;
}

.logo-img {
    max-width: 210px;
    margin-right: .5rem;
    width: 90%;
 }

.syringe-img {
   max-width: 70px;
   width: 90%;
}

.header-content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    color: var(--gray-color); 
}

.phone, .address {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: .5rem 0;
}

.header-content i{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: rgb(243,97,14);
    border-radius: 50%;
    box-shadow: 1px 1px 3px var(--gray-color);
    color: white;
    height: 25px;
    padding: .1rem;
    margin: .2rem;
    width: 25px;
}

.header-content p {
    display: inline;
    font-size: small;
    align-items: flex-start;
    margin: .2rem;
}

.button-login {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.session {
    background-color: var(--darkblue-color);
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: 2rem;
    max-width: 150px;
    padding: .5rem;
    align-items: center;
}

.session i {
    color: white;
    display: inline;
    margin-left: 0.2rem;
}

.session:hover {
    background-color: var(--orange-color);
    border: 1px solid var(--darkblue-color);
    transition: all 1s;
}

.button-message:hover{
    animation: click 0.7s 1;
}

@keyframes click {
    25%, 75% {
        transform: scale(.8);
    }

    50% {
        transform: scale(1.1);
    }
}

.divider{
    display: flex;
    justify-content: flex-end;
}

.divider img {
    max-width: 730px;
    width: 100%;
}

.doctor {
    padding: 0;
    margin: 0;
}

.background-doctor {
    background-image: url(../img/medico.png);
    background-size: cover;
}

.message {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    max-width: 400px;
    text-align: center;
}

.message-button {
    align-items: flex-start;
    display: flex;
    justify-content: flex-start;
}

.first-title-index {
    color: var(--orange-color);
    font-weight: 300;
} 

.second-title-index {
    font-weight: 300;
    text-align: center;
}

#division {
    margin: 0;
}

#division img{
    height: 100%;
    width: 100%;
}

.background-information {
    background-image: url(../img/covid.jpeg);
	text-align: center;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

#information-box {
    background-color: rgba(255, 254, 254, 0.7);
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content:space-around;
    z-index: 100;
}

.information-box h3{
    color: var(--darkblue-color);
}

#title-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    opacity: 1;
}

#title-content img {
    max-width: 50px;
    max-height: 50px;
    margin-right: .5rem;
    opacity: 1;
}

.signs {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 1;
    width: 31.25rem;
}

.symptoms {
    list-style: none;
    padding-left: 0;
}

.symptoms li {
    position: relative;
    padding-left: 20px;
    margin: 1.5rem 0 1.5rem;
}

.symptoms li:before {
    content: '';
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url("../img/check.svg");
    background-size: cover;
    background-position: center;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
 
.question {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.25rem;
}

.links {
    background-color: var(--gray-color);
    margin-top: 50px;
}

.links p {
    background-color: var(--darkblue-color);
    color: white;
    cursor: pointer;
    padding: 1rem 1rem 1rem;
}

.links p:hover {
    background-color: var(--gray-color);
    color: var(--darkblue-color);
    padding-left: 40px;
    transition: all 2s;
}

#oms {
    align-items: center;
    display: flex;
    flex-direction: column;
}

#oms img {
    width: 150px;
}

#oms P {
    color: var(--blue-color);
    cursor: pointer;
    text-decoration-line: underline;
}

/*Footer*/
footer{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px 0 10px;
}

footer p{
    padding-bottom: 2rem;
}

/* login.html*/
.background-login {
    align-items: center;
    background-image: url(../img/fondo-form.png);
}

.login {
    justify-content: center;
    display: flex;
}

#entry {
    align-content: center;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    justify-content: center;
    max-width: 600px;
    width: 100%;
    padding: 2rem;
}

.background-back {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 560px;
    width: 100%;
}

.back {
    background-color: var(--darkblue-color);
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin: .5rem;
    padding: .5rem;
    align-items: center;
}

.back:hover {
    background-color: var(--blue-color);
    border: 1px solid var(--darkblue-color);
    transition: all 1s;
}

form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 540px;
    width: 100%;
}

.backgroung-form {
    border-radius: 30px;
    box-shadow: 3px 3px 15px rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
    max-width: 520px;
    width: 100%;
}

.logo-form{
    align-items: center;
    background-color: #A7D9D9;
    border-radius: 30px 30px 0 0;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.logo-form img {
    width: 100%;
}

.part-form {
    align-items: center;
    background-color: white;
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}

.item {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: .5rem;
}

.item input {
    background-color: #ddf3f3;
    border: 1px solid #A7D9D9;
    border-radius: 10px;
    height: 2rem;
    margin-top: .5rem;
}

.forget, .enter {
    margin: .7rem;
}

.part-form button {
    background-color: var(--orange-color);
    border: 1px solid var(--blue-color);
    border-radius: 10px;
    color: white;
    font-size: 12px;
    padding: .5rem 1.8rem;
}

.ingresar{
    cursor: pointer;
}

.forget a {
    color: black;
    display: flex;
    font-size: 10px;
    justify-content: center;
}

/* dashboard.html*/
#main-dashboard{
    height: 100vh;
}

#dashboard {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.options {
    background-color: #181926;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: .5rem;
}

.welcome-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.welcome-user{
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    margin-left: 110px;
    width: 200px;
}

.welcome-user i {
    background-color: white;
    border: 2px solid var(--orange-color);
    border-radius: 50%;
    margin: 0.2rem;
    padding: .5rem;
}

.welcome-title {
    color: var(--orange-color);
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.options-img img {
    align-items: flex-start;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
}

.options-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-item {
    align-items: center;
    background-color: var(--gray-color);
    border: 3px solid  var(--orange-color);
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0.8rem 0;
    min-height: 50px;
    min-width: 200px;
    text-align: center;
    padding: .2rem;
}

.options-item:hover{
    animation: zoomrotate 6s 1;
}

@keyframes zoomrotate {
    20% {
        transform: scale(1.1);
        rotate: (-6deg);
    }

    30%, 70% {
        transform: scale(.9);
        rotate: (6deg);
    }

    50%, 90% {
        transform: scale(.9);
        rotate: (-6deg);
    }
}

.options-item i{
    margin-right: .5rem;
}

.options-item a {
    color: #181926;
}

.welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    width: 100%;
}

.search-document {
    display: flex;
    flex-direction: column;
}

.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1rem;
}

.search-document input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: var(--darkblue-color);
    width: 300px;
}

.search-document i {
    background-color: var(--darkblue-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    color: white;
    padding: .4rem .6rem;
}

.search, .refresh{
    background-color: white;
    border: none;
    cursor: pointer;
}

.welcome-background {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
    margin: 1rem;
}

.welcome-background img {
    max-width: 330px;
    max-height: 330px;
    width: 90%;
    opacity: 0.4;
}

.division {
    margin: 1rem 0;
}

/* Registro de vacunas*/
.first-document, .second-document, .third-document, .fourth-document{
    display: none;
    visibility: hidden;
    opacity: 0;
}

.active{
    background-color: rgba(255, 254, 254, .9);
    display:flex;
    flex-direction: column;
    opacity: 1;
    padding: .5rem;
    position:relative;
    text-align: center;
    top: -500px;
    visibility: visible;
}

.first-document span, .second-document span, .third-document span, .fourth-document span{
    color: var(--orange-color);
}

.first-document p, .second-document p, .third-document p, .fourth-document p{
    text-align: center;
}

.buttons-popup{
    display: flex;
    flex-direction: column-reverse;
}

.btn-form-vaccine, .btn-new-user{
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    color: white;
    margin: .5rem auto;
    max-width: 250px;
    padding: .3rem .5rem;
    text-align: center;
}

.btn-form-vaccine:hover, .btn-new-user:hover{
    background-color: white;
    border: 1px solid var(--orange-color);
}

.btn-form-vaccine a:hover, .btn-new-user a:hover{
    color: var(--orange-color);
}

.btn-form-vaccine i{
    margin: .3rem;
}

.congratulations{
    color: var(--orange-color);
}

.close{
    background-color: var(--gray-color);
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    margin: .5rem auto;
    max-width: 100px;
    padding: .3rem;
}

.close a{
    color: black;
}

.close:hover{
    background-color: var(--orange-color);
    border: 1px solid var(--gray-color);
}

.close a:hover{
    color: white;
}

/* Formulario de vacunas*/
.buttons-vaccine {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
}

.btn-confirm-vaccine, .btn-back-vaccine{
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    color: white;
    padding: .5rem;
}

.btn-confirm-vaccine:hover, .btn-back-vaccine:hover{
    background-color: white;
    color: var(--orange-color);
}

.vaccine{
    margin: 1rem;
}

.vaccineTittles{
    display: flex;
    flex-direction: column;
    margin: .5rem;
    padding: .5rem;
}

.section-form-vaccine{
    margin: .5rem;
}

.form-vaccine {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
}

.form-pairs{
    display: flex;
    flex-direction: column;
}

.form-vaccine input, .form-vaccine select, .form-vaccine textarea{
    color: grey;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    min-height: 30px;
    width: 100%;
}

.form-vaccine input{
    margin: 0;
    padding: 0;
}

.textarea-vaccine{
    height: 100px;
}

/* Pacientes.html*/
.background-header {
    background-color: #181926;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.background-part {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

.background-part  img {
    width: 300px;
}

.background-buttons button{
    border: 2px solid var(--blue-color);
    border-radius: 50%;
    height: 50px;
    margin: .2rem;
    width: 50px;
}

.background-buttons button:hover{
    border: 2px solid var(--orange-color);
}

.background-division {
    display: flex;
    margin: 0;
}

.background-division img {
    border-bottom: 7px solid var(--blue-color);
    display: flex;
    width: 100%;
    max-height: 200px;
}

.patient-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2rem 0;
}

.patient-section h1{
    text-transform: uppercase;
    text-decoration: underline var(--blue-color);
}

.patient-section i {
    padding: .2rem;
}

.btn-confirm-patient{
    background-color: var(--orange-color);
    border: 1px solid var(--gray-color);
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
}

.btn-confirm-patient:hover{
    background-color: var(--darkblue-color);
    border: 1px solid var(--orange-color);
    transition: all 1s;
}

.patient-form{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.form-patient {
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding-bottom: .3rem;
}

.form-patient input {
    border: 2px solid #A7D9D9;
    border-radius: 10px;
    display: inline;
    flex-basis: 80%;
    height: 2rem;
}

.form-patient i {
    background-color: var(--darkblue-color);
    border: 2px solid var(--blue-color);
    border-radius: 5px;
    color: white;
    flex-basis: 20%;
    padding: .4rem .6rem;
}

.patient-table{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

table {
    background-color: var(--blue-color);
    text-align: center;
    width: 100%;
}

table tr {
    border: 1px solid var(--gray-color);
    display: flex;
    flex-direction: column;
    padding: 1em;
}

table thead {
    display: none;
}

table th {
    background-color: var(--darkblue-color);
    color: white;
    padding: .5rem 2rem;
    text-transform: uppercase;
}

table td {
    background-color: var(--gray-color);
    padding: .5rem 2rem;
}

table td [data-titulo] {
    display: flex;
}

table td[data-titulo]::before {
    content: attr(data-titulo);
    font-weight: bold;
    margin-right: 8px;
}

.btn-edit {
    background-color: var(--blue-color);
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    color: #181926;
    cursor: pointer;
    padding: .4rem;
}

.btn-delete {
    background-color: var(--red-color);
    border: 1px solid var(--red-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: .4rem;
}

.btn-edit:hover, .btn-delete:hover{
    animation: click 0.7s 1;
}

@keyframes click {
    25%, 75% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
}

.btn-edit i, .btn-delete i {
    padding: .2rem;
}

/* pacientesRegistro.html*/
.section-part {
    border: 2px solid var(--gray-color);
    margin: 1rem;
    padding: 2rem;
}

.important-title {
    background-color: var(--darkblue-color);
    border: 1px solid var(--darkblue-color);
    border-radius: 5px;
    color: white;
    display: flex;
    font-weight: 500;
    justify-content: center;
    padding: .5rem 0;
    text-align: center;
    text-transform: uppercase;
}

.form-register {
    background-color: var(--gray-color);
    border: 2px solid gray;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.form-register input, .form-register select, .form-register::placeholder{
    color: grey;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    margin: .5rem 0;
}

.second-title {
    align-items: center;
    background-color: var(--blue-color);
    border: 1px solid var(--darkblue-color);
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    padding: .2rem 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.second-title i {
    align-items: flex-start;
    color: white;
    display: flex;
    height: 20px;
    margin-right: .1rem;
    justify-content: flex-start;
    width: 20px;
}

#form-subtitle {
    font-size: 20px;
    font-weight: 100;
    margin: 0;
    padding: 0;
    position: static;
}

.form-first-division {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.form-first-division input {
    margin: .4rem;
    min-height: 30px;
    width: 100%;
}

.form-second-division, .form-third-division {
    display: flex;
    flex-direction:column;
    width: 100%;
}

.form-little-division {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
}

.form-little-division input, .form-little-division select {
    min-height: 30px;
    width: 100%;
}

.form-fourth-division input, .form-fourth-division select{
    min-height: 30px;
    width: 100%;
}

.selector {
    align-items: center;
    display: flex;
    justify-content: center;
}

.btn-confirm-patient-form input{
    background-color: var(--orange-color);
    border: 1px solid var(--orange-color);
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding: .2rem .5rem;
}

/*Resolución de tablet*/
 @media screen and (min-width: 768px) {
     /* dashboard.html*/
     .options {
        display: flex;
        flex-direction: row;
        justify-content:space-around;
    }

    .options-img {
        align-items: center;
        display: flex;
    }

    .options-img img {
        max-height: 75px;
    }

    .welcome-user{
        margin-left: 420px;
    }

    /* Registro de vacunas*/
    .table-vaccine{
        margin: 1rem auto;
    }

    /* Formulario de vacunas*/
    .buttons-vaccine{
        justify-content: flex-end;
    }

    .btn-confirm-vaccine, .btn-back-vaccine{
        margin: 0 1rem;
    }

    .section-form-vaccine{
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    .section-form-vaccine form{
        justify-content: center;
        margin: 0 1rem;
        min-width: 700px;
        width: 100%;
    }
    
    .vaccine{
        width: 100%;
    }

    .form-vaccine{
        flex-direction: column;
        margin: .5rem;
    }

    .form-pairs{
        flex-direction: row;
        flex-basis: 50%;
        justify-content: space-between;
        margin: 0 .5rem;
    }

    .form-vaccine input, .form-vaccine select{
        margin: 0 .5rem;
        max-height: 31px;
    }

    .textarea-vaccine{
        margin: 0 auto;
        max-width: 300px;
        max-height: 101px;
    }

    /* Pacientes.html*/
    table {
        width: 50%;
    }
}

/*Resolución de medias (equipos de escritorio)*/
@media screen and (min-width: 1024px) {
    /* Index.html*/
    header {
        flex-direction: row;
        justify-content: space-around;
    }

    .logo {
        margin-right: 1rem;
    }

    .header-content{
        flex-direction: row;
    }

    .address {
        max-width: 290px;
    }

    .button-login {
        align-items: flex-end;
        justify-content: center;
        max-width: 300px;
    }

    .button-login img {
        width: 100%;
    }

    .session {
        margin: 2rem 1rem;
    }

    #information-box {
        padding: 1rem;
        flex-wrap: nowrap;
    }

    .signs {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 31.25rem;
    }

    .question {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 31.25rem;
    }

    /* dashboard.html*/
    #dashboard {
        display: flex;
        flex-direction: row;
        height: 100vh;
        margin: 0;
        width: 100%;
    }

    .options {
        background-color: #181926;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        padding: .5rem;
    }

    .welcome{
        height: 100vh;
        justify-content: space-between;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .welcome-form{
        margin-top: 0;
    }

    .welcome-user {
        margin-left:690px;
    }

    /* Registro de vacunas*/
    .active{
        animation: show 1s .5s backwards;
        border-radius: 5px;
        left: 150px;
        margin: auto;
        max-width: 800px;
        padding: 1rem;
        right: 150px;
    }

    @keyframes show {
        0%{
            transform: translateY(-150vh);
        }
    
        100%{
            transform: translateY(0);
        }
    }

    /* Formulario de vacunas*/
    .section-form-vaccine form{
        min-width: 1000px;
    }

    .textarea-vaccine{
        margin-top: 1rem;
        max-width: 450px;
        max-height: 101px;
    }

    /* Pacientes.html*/
    .background-header {
        flex-direction: column;
        margin-top: 0;
    }

    .background-part {
        flex-direction: row;
    }

    .patient-section {
        flex-direction: row;
    }

    table {
        display: table;
        width: 0%;
    }

    table tr {
        border: none;
        display:table-row;
        padding: 0;
    }
    
    table thead {
        display: table-header-group;
    }

    table tbody  {
        display: table-row-group;
    }

    table td, table th {
        display: table-cell;
    }

    table td [data-titulo] {
        display: initial;
    }
    
    table td[data-titulo]::before {
        content: none;
        margin-right: 0;
    }

    .table-buttons {
        display: flex;
        justify-content: space-around;
    }

    .btn-edit, .btn-delete {
        align-items: center;
        display: flex;
        margin: 0 .2rem;
        padding: .4rem;
        text-align: center;
    }
    
    .btn-edit i, .btn-delete i {
        margin-left: .2rem;
    }

     /* pacientesRegistro.html*/
     .form-register form{
        justify-content: center;
        max-width: 1200px;
        width: 100%;
    }

     .form-first-division {
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .form-first-division input {
        width: 200px;
    }
    
    .form-fourth-division{
        display: flex;
    }

    .form-little-division {
        flex-flow: row wrap;
    }

    .form-little-division input, .form-little-division select {
        width: 45%;
    }

    .form-fourth-division select, .form-fourth-division input{
        margin: 0 .5rem;
        max-height: 31px;
        justify-content: center;
        width: 100%;
    }

    .selector input{
        margin: 0 .5rem;
    }
}

/*Resolución macro*/
@media screen and (min-width: 1200px) {
    body{
        margin: 0 auto;
        max-width: 1440px;
    }
}